<section class="rounded-2">

    <div class="header mb-5">
      <b class="text-center d-block mb-4 text-uppercase">System</b>
      <!-- <div class="logo w-25 m-auto mb-4"> -->
        <!-- <img src="assets/images/logo.png" alt="" srcset="" class="w-100"> -->
      <!-- </div> -->
      <div class="title text-center">
        <h4 class="text-uppercase fw-bold">{{ "ForgotPassword" | translate }}!</h4>
      </div>
      <div class="sub-title text-center">
        <p class="text-lowercase text-secondary">{{ "PleaseEnterYourEmailAddressFor" | translate }} <strong class="text-uppercase">system</strong>.</p>
      </div>
    </div>
  
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="needs-validation">
        <div class="mb-4 position-relative">
          <label for="InputEmail1" class="form-label mb-1">{{ "UserNameOrEmail" | translate }}</label>
          <input 
            type="email" 
            formControlName="email" 
            class="form-control" 
            id="InputEmail1" 
            aria-describedby="Validators"
            [placeholder]="'EnterUserNameOrEmail' | translate "
            [ngClass]="{
              'is-invalid': 
                  (isSubmitted && form.controls['email'].errors && form.controls['email'].errors['required']), 
              'is-valid': 
                  (isSubmitted && !form.controls['email'].errors)}">
    
              <ng-container *ngIf="isSubmitted && form.controls['email'].errors">
                <div class="form-text position-absolute" *ngIf="form.controls['email'].errors['required']">
                  {{ "UserNameOrEmailRequired" | translate }}
                </div>
  
                <div class="form-text position-absolute" *ngIf="form.controls['email'].errors['email']">
                  {{ "PleaseEnterValidEmail" | translate }}
                </div>
                
              </ng-container>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3">{{ "SendCode" | translate }}</button>
    </form>
    
    <div class="footer text-center">
      <a routerLink="/authentication">{{ "Signin" | translate }}</a>
    </div>
  
  </section>
  
  
  
  
  
  
  