<section class="rounded-2">

    <div class="header mb-5">
      <b class="text-center d-block mb-4 text-uppercase">System</b>
      <!-- <div class="logo w-25 m-auto mb-4"> -->
        <!-- <img src="assets/images/logo.png" alt="" srcset="" class="w-100"> -->
      <!-- </div> -->
      <div class="title text-center">


        <h4 class="text-uppercase fw-bold"> {{ "ResetPassword" | translate }} !</h4>
      </div>
      <div class="sub-title text-center">
        <p class="text-lowercase text-secondary"> {{ "PleaseEnterYourNewPasswordFor" | translate }} <strong class="text-uppercase">system</strong>.</p>
      </div>
    </div>

    <div class="form-text text-danger" *ngIf="isSubmitted && form.get('password')?.hasError('invalidPassword')">
      {{ "PasswordMustContain" | translate }}, 
      <br>
      {{ "oneLowerLetter" | translate }}, 
      <br>
      {{ "OneNumberAndOneSpecialCharacter" | translate }}.
    </div>
  
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="needs-validation">
        <div class="mb-4 position-relative">
          <label for="" class="form-label mb-1">{{ "NewPassword" | translate }} </label>
          <input 
            type="{{ showPassword ? 'text' : 'password'}}" 
            formControlName="password" 
            class="form-control" 
            id="" 
            aria-describedby="Validators"
            [placeholder]=" 'EnterNewPassword' | translate "
            [ngClass]="{
              'is-invalid': 
                  (isSubmitted && form.controls['password'].errors), 
              'is-valid': 
                  (isSubmitted && !form.controls['password'].errors)}">

          <button class="btn position-absolute password-eye" type="button" aria-label="Toggle password visibility" (click)="showPassword = !showPassword">
            <i class="fa" ngClass="{{showPassword ? 'fa-eye-slash' : 'fa-eye'}}" aria-hidden="true"></i>
          </button>
    
              <ng-container *ngIf="isSubmitted && form.controls['password'].errors">
                <div class="form-text position-absolute" *ngIf="form.controls['password'].errors['required']">
                  {{ "NewPasswordRequired" | translate }}
                </div>
                <div class="form-text position-absolute larg-text" *ngIf="form.controls['password'].errors['minlength']">
                  {{ "PasswordMinLength" | translate }}
                </div>
                
              </ng-container>
        </div>
        <div class="mb-4 position-relative" >
          <label for="InputPassword1" class="form-label mb-1">{{ "ConfirmPassword" | translate }}</label>
          <input 
            type="{{showConfirmPassword ? 'text' : 'password'}}" 
            formControlName="confirmPassword" 
            class="form-control" 
            id="InputPassword1"
            [placeholder]=" 'EnterConfirmPassword' | translate "
            [ngClass]="{
              'is-invalid': 
                  (isSubmitted && form.controls['confirmPassword'].errors), 
              'is-valid': 
                  (isSubmitted && !form.controls['confirmPassword'].errors)}">
      
          <button class="btn position-absolute password-eye" type="button" aria-label="Toggle password visibility" (click)="showConfirmPassword = !showConfirmPassword">
            <i class="fa" ngClass="{{showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'}}" aria-hidden="true"></i>
          </button>

          <ng-container *ngIf="isSubmitted && form.controls['confirmPassword'].errors">
            <div class="form-text position-absolute" *ngIf="form.controls['confirmPassword'].errors['required']">
              {{ "ConfirmPasswordRequired" | translate }}
            </div>
            <div class="form-text position-absolute" *ngIf="form.controls['confirmPassword'].errors['mismatch']">
              {{ "PasswordNotMatch" | translate }}
            </div>            
          </ng-container> 
        </div>
        <button type="submit" class="btn btn-primary w-100">{{ "Confirm" | translate }}</button>
    </form>
  
  
    <div class="footer text-center">
      <!-- Don't have an account ? SignUp -->
      <a routerLink="/authentication/forgot-password">{{ "Signin" | translate }}</a>
    </div>
  
  
  </section>
  
  
  
  
  
  
  